.donation_back_block.main_mod {
	padding: 3.7rem 10rem 10rem;
	border: 1px none #aaa;
	text-align: center;
	font-size: 2.2rem;
}

.donation_back_block.amount {
	donation_back: 1px none #aaa;
    padding: 20px 40px;
    font-size: 2.2rem;
}


p.resizeimage img{
	width: 100%;
}

div.answer{
	padding: 1rem 1rem 1rem 10rem;
	text-align: left;
}