.pay_block.main_mod {
	padding: 3.7rem 10rem 10rem
}

.pay_block.main_mod {
	padding: 3.7rem 10rem 10rem
	border: 1px none #aaa;
	text-align: center;
	font-size: 2.2rem;
}

.pay_block.amount {
	border: 1px none #aaa;
    padding: 20px 40px;
    font-size: 2.2rem;
}